@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1559569575850'); /* IE9 */
  src: url('iconfont.eot?t=1559569575850#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABsAAAAKMAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBJIElATYCJAMMCwgABCAFhG0HORvuBcgekiQlshmlAMW+AECC4uFpv2/nzsx7K67R03rfZIokSqCSoNMCoRCKVrFM/P87lxkQRw2Y1ZEaFX56PUpfmo5Zkj03ID0WioTZ3OTU3hylYyfzweX0RwEFMs+ynNbetjZggoGONSiyAgqIG6Y3ojznQVfHCbSaVMjnuHvQgoIVYFwgXqmKgIJXHkXJ4s1CrVhaxDuV5vQmDXnLvx9/lEcwSZWBqacvu2TU+j3ze3lebCy6oQgvIVxdIWMdUog7ZeSCn8hIflol/ub0WhHSVf7GP5zTyuqP/vESUQO57WA5jCa+Z2IGwffyFRLIoB5ja5DdiNh/VUi94RHPtvNtp0uPO3lW5WznfjFXPp7he9tCctLE4c7J4tDkTBw/WFJuk2DsL3qFlLKf37hyW3n5y+suutxaEXt9V4ZqZq+83rfsj9nfUnvH5b+YE1qNAePy+xTk19kvf+P/V/7HaFTjd3BbAZ/STo54QZGh+U/iOMj2Oa5jW2n5QJtLzcGc3paNHDQlQlZu1wAcvd6PywaccwnNBmZImkxA1mweLcR1qLTZgFqzPWi1pmd1mz6MnygtWLUWQOh2BUmnD5B1e0IL8Q0qgz6h1h1+0Oos4rZssxhqaAcDgYOMxSmsStRDkJ6HDvkmUAyXwJZ8TrYB01U/Lisu3cZ7wAPsihn6uFLOOcGEUTfuDk4Dl4tijVEHSLzYzrlWX1JCVG8qlqgbhTrCAAEHZJhoCqaSUB6E9uZChc+bAIXBRcAMVRtmG8Do1P6xMsVKHdAeicep6lde0Y1TlOM4AiMYyg3rDgYBFxcK09SDHICEK2Y/ENLUK4HdiKuk+HmZ2wPZWR1glxwpchT1c0O1CzRQMihTIwQ=') format('woff2'),
  url('iconfont.woff?t=1559569575850') format('woff'),
  url('iconfont.ttf?t=1559569575850') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1559569575850#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duihao:before {
  content: "\e61e";
}

.icon-cuohao:before {
  content: "\e632";
}

